/*** sectioning elements ***/


@font-face {
    font-family: 'haloregular';
    src: url('../font/halo-webfont.woff'),
         url('../font/halo-webfont.woff');
        }

body {

}

header {

}

main {

}

footer {

}

nav {

}

section {

}

aside {

}


/**** content styles ***/

h1 {
    font-family: haloregular;
    font-size:100px;
    text-align:center;
    color: white;
}

h2 {
    font-family: haloregular;
    font-size:50px;
    color:white;
}

h3 {

}

h4 {

}

h5 {

}

h6 {

}

p {
    font-size: 20px;
    line-height: 1.5;
}

blockquote {

}

ol {

}

ul {

}

li {

}

table {

}

tr {

}

th {

}

td {

}


/*** image styles ***/

img  {
    max-width: 100%;
}


/*** link styles ***/

a:link {
color: black
}

a:visited {
color:  red;;
}

a:hover {

}

a:active {

}
